@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    align-items: center;
    background: rgb(227,227,227);
    background: linear-gradient(191deg, rgba(11, 60, 133, 0.603) 0%, rgb(12, 32, 214) 100%);
    display: flex;
    justify-content: center;
    height: 100vh;
}

.relogio {
    align-items: center;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 5);
    display: flex;
    justify-content: space-around;
    height: 230px;
    width: 590px;
}

.relogio div {
    align-items: center;
    background: rgba(5, 5, 5, .9);
    border-radius: 7px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    width: 170px;
}
.relogio span {
    font-weight: bolder;
    font-size: 100px; 
}

.relogio span.tempo {
    font-size: 30px;
}

